<div class="container">
  <div class="countdownContainer">
    <div>
      <span>{{ minuteLeft }}</span>
      <span>{{ minuteRigth }}</span>
    </div>
    <span>:</span>
    <div>
      <span>{{ secondLeft }}</span>
      <span>{{ secondRigth }}</span>
    </div>
  </div>
  <div *ngIf="this.hasFinish">
    <button type="button" class="countdownButtonFinish" *ngIf="hasFinish">
      Ciclo encerrado
    </button>
  </div>
  <div *ngIf="!this.hasFinish">
    <button
      type="button"
      class="countdownButton"
      (click)="startCountdown()"
      *ngIf="!hasActive"
    >
      Iniciar um ciclo
    </button>
    <button
      type="button"
      class="countdownButtonActive"
      (click)="startCountdown()"
      *ngIf="hasActive"
    >
      Abandonar Ciclo
    </button>
  </div>
</div>
